<section class="page">
  <h1>{{ title }}</h1>
  <div class="wrapper">
    <ng-container [ngSwitch]="title">
      <app-dashboard *ngSwitchCase="'Dashboard'"></app-dashboard>
      <app-notificaciones *ngSwitchCase="'Notificaciones'"></app-notificaciones>
      <app-metricas *ngSwitchCase="'Métricas'"></app-metricas>
      <app-configuracion *ngSwitchCase="'Configuración'"></app-configuracion>
      <app-guia-uso *ngSwitchCase="'Guía de uso'"></app-guia-uso>
      <p *ngSwitchDefault>Page not found.</p>
    </ng-container>
  </div>
</section>
